**_Python_**  has two modes    
---    
       
**Interactive mode        
Standard mode**         
Interactive mode is meant for experimenting the code, one line at a time  
Standard mode is meant to run a Python programme form start to finish

Python Objects

Each object in Python has 3 characteristics:       
**Object type         
Object value    
Object identity**

Object types - integer,float,string,tuple,list,set,dictionary..etc       
Object value - data value contained in the object        
Object identity - each object has it's own identity number

Python objects can have data/functions or both associated with them.      
These are known as attributes.        
Name of the attribute follows the name of the object, these two are separated by a dot "."

There are two types of attributes;     
**Data attributes** - a special value attached to a specific object        
**Methods** - typically  a function attached to an object, a method performs some functions/operations on that object
Methods available for each object will vary depending on the type of the object

**Instance** is an occurrence of an object     
e.g. two strings may have different data attributes, but they will support the same set of methods

In [1]:
import numpy as np
x = np.array([1,3,5])
y = np.array([1,4,7,9,56])

x,y are both numpy arrays, therefore they support the same set of methods and have the same set of attributes available.

In [2]:
x.mean()

3.0

In [3]:
y.mean()

15.4

x - a Python object (numpy array)        
`.mean()` - a Python method available for numpy arrays         
Name of the attribute "mean()" follows the name of the oblect "x" separated by a dot "."

In [4]:
x.shape

(3,)

In [5]:
y.shape

(5,)

The "shape" attribute shows the dimension of the array     
x is a one dimensional array, with one row having 3 elements.           
y is a one dimensional array, with one row having 5 elements.

**Note!!**    
In the mean attribute a paranthesis is added at the end - meaning mean is a function/method, and () calls Python to do a  computation.      
But the shape attribute doesn't have paranthesis at end, meaning shape is a data attribute.

**Modules**    
---  

Python modules are libraries of code, that can be imported to Python using the "import" statement.

In [6]:
import math

In [7]:
math.pi

3.141592653589793

In [8]:
math.sqrt(65.98)

8.122807396460907

In [9]:
math.sin(math.pi/2)

1.0

Sometimes there is no need to import the entire module! In that case importing just the needed functions will suffice. e.g

In [10]:
from math import pi

Here only the pi value is imported from the math library

**Namespace**   
---   

Namespace is a container of names shared by objects that typically go together.
It's intention is to prevent naming conflicts!

In [11]:
import math
import numpy as np

In [12]:
math.sqrt

In [13]:
np.sqrt

Both math and numpy modules have square root functions, so what's the difference?

In [14]:
math.sqrt(45.26)

6.727555276621664

In [15]:
np.sqrt(45.26)

6.727555276621664

Both functions return the same value for _an integer input!!!!_

In [16]:
math.sqrt(64,16,81,25,625)

TypeError: math.sqrt() takes exactly one argument (5 given)

In [ ]:
np.sqrt([64,16,81,25,625])

`math.sqrt()` is incapable if computing the square root when more than one number is involved!

**import** statement
When an import statement is given; Python creates a namespace for all the objects in the module, executes the codes of the module and runs them within the newly created namespace and Python creates a name ("np") and references it to the newly created namespace object of the module (numpy).

When `np.sqrt()` method is called Python executes the sqrt() function in the np namespace!
The module math has its own namespace and when `math.sqrt()` is called python executes the sqrt() function in the math namespace!!

In [ ]:
 name = "Isabelle"

In [ ]:
type(name)

Python tells that the name object is a string!

To learn what operations/functions are available for a given object...

In [ ]:
dir(name)

`dir()` gives the directory of methods available for a given object!, this include many of the base Python methods.

In [ ]:
dir(str)

If we know the type of the object ("Isabelle" is a string object), type of the object can be given instead the name of the object in question!
i.e.   `dir(name)` is identical to `dir(str)` because **the object name is a string**

To get help in Python
``` help(name.upper)```

In [ ]:
help(name.upper)

Here we do not run that method/function! i.e `help(name.upper())` will throw an error! 
`name.upper` is a method bound to the name object
`name.upper()` is a call for Python to perform the given operation!

In [ ]:
name.upper()

In [ ]:
help(name.upper())

**Note the differences**

Even if two functions are identical, but from different namespaces (libraries/modules) Python will treat them as different functions!

**Numbers and Basic Calculations**    
---   

Python has three types of numeric objects;   
**Integers**    
**Floating point numbers**          
**Complex numbers**

In [ ]:
122*45

In [ ]:
125-454

In [ ]:
2**8

Unlike **R** power in Python is notated by two ** s not by ^

In [ ]:
5**3

In [ ]:
45**457

Here number of digits in the output is not limited, unlike calculators!!

**Python has unlimited precision for integers!**

In [ ]:
78/36

In [ ]:
75/89.456

**_For divisions or Integer divisions_**           
This gives an integer result of the division but **not by** rounding the result to closest integer!  
In integer division Python just does the floating point division but then rounds the result to **the closest integer** that is **less than the actual floating point answer**

In [ ]:
45/7

In [ ]:
45//7

In [ ]:
69/9

In [ ]:
69//9

**Note the difference**

"_" operator represents the value of the last result, which is helpful in the interactive mode!!

In [ ]:
31.58*7.125-41.134

In [ ]:
_

In [ ]:
_ - 183

In [ ]:
_ + 150

In [ ]:
_ - 0.8734999999999

**Note the use of _ above**

The **math** module contains many useful mathematical operations!!

In [ ]:
import math

In [ ]:
9*8*7*6*5*4*3*2*1  #factorial of 9

In [ ]:
math.factorial(9)

Factorial operation is made simpler!!

**Random choice**      
---      

For random sampling the `random` module is used

In [ ]:
import random

In [ ]:
population = list(range(21,75))
population

In [ ]:
random.choice(population)

`random.choice()` picks a random element from a given iterable!!

In [ ]:
random.choice([4.22,5.6,45,70,2,-21.6,7,19,55,-0.798])

In [ ]:
random.choice([4.22,5.6,45,70,2,-21.6,7,19,55,-0.798])

random.choice() can be used to pick any elements randomly, not necessarily numbers!

In [ ]:
names = ["Amy", "Alice", "Julia", "Venessa", "Joanne", "Cindy", "Michelle", "Janice", "Jennifer"]

In [ ]:
random.choice(names)

In [ ]:
random.choice(names)

In [ ]:
random.choice(names)

**Expressions and Booleans**      
---     

Expression is a combination of objects and operators that compute a value!!        
**Boolean** data type has only two values; `True` (`1`) and `False` (`0`)     
In Python, first letter of these words needs to be capitalized!!

In [ ]:
type(True)

In [ ]:
type(true)

In [ ]:
type(TRUE)

In [ ]:
type(False)

**Boolean operations**      
There are only three boolean operations!!       
**Or   
And  
Not**

In [ ]:
True or False

True = 1  False = 0      
`or` is equivalent to mathematical addition

In [ ]:
False or False

In [ ]:
True or True

In [ ]:
True and True

In [ ]:
True and False

In [ ]:
False and False

`and` is equivalent to mathematical multiplication!     
Result wil be true only when both the inputs are true

In [ ]:
not True

In [ ]:
not False

`not` just returns the negative of the input!

**Comparation operators**   
--- 

There are 8 comparison operators in Python.  
When comparing iterables comparison is carried out element wise!  
Results of these comparison operators are either `True` or `False`

In [ ]:
2.5 > 9 #greater than

In [ ]:
6.9 < 9.6 #less than

In [ ]:
2.697 == 2.697 #equal to

In [ ]:
67 == 0.35

In [ ]:
57 <= 57.00 #less than or equal

In [ ]:
7.456 >= 7.456 #greater than or equal

In [ ]:
54.82367 != 989.2 #not equal to

In [ ]:
8.356 != 8.356

In [ ]:
x = [2,5.6,7,9.5]
y = [2,5.6,7,9.5]

In [ ]:
x == y

In [ ]:
x != y

In [ ]:
z = [2,7,5.6,9.5]

In [ ]:
x == z

Eventhough the elements of lists x & z are same, the indexing of elements are different!    
**Thus they aren't equal**

In [ ]:
[8.9,0] is [8.9,0]

Two lists above are **identical** - same elements with same indices!!       
But they are **two different objects**, thus they aren't same!!   
`==` tests whether objects have the same **_value_**, whereas `is` tests whether objects have the same **_identity_**.

In [ ]:
x = [9,4,2]

In [ ]:
x is [9,4,2]

In [ ]:
x is x

In [ ]:
x = y

In [ ]:
x is y

In [ ]:
p = ["Amy", "Johanne"]  
q = ["John", "Jamie"]

In [ ]:
p is not q

**Note the below example**

In [ ]:
2.0 == 2.0

In [ ]:
2 == 2.0

Python takes the integer and **turns it into a floating point i.e 2 becomes 2.0**  
Now the comparison is between 2.0 and 2.0, therefore the answer is `True`

In [ ]:
True and not False is True

`True` and (`not False`) = `True` and `True` = `True`   
(`True and not False`) is `True` = `True` is `True` = `True`

**Sequences**     
---     
In Python there are three sequence objects!
1. Lists    
2. Tuples  
3. Range objects

`s = ["a","b","c","d","e","f"]`   
**Indexing** starts from **0** (if we are to count from left to right)   
i.e. 
```
s[0] = "a"
s[1] = "b"
s[4] = "e"
s[5] = "f"   
```   
Indexing starts from **-1** if we count from right to left!!  
```
s[-1] = "f"
s[-3] = "d"
s[-6] = "a"  
```

In [ ]:
s = ["a","b","c","d","e","f"]

In [ ]:
s[0]

In [ ]:
s[4]

In [ ]:
s[-1]

In [ ]:
s[-5]

Sequences support the _**slicing**_ operation.

In [ ]:
s[0:2]

`s[i:f]` Here *i* is the start position and *f* is the stop position!!     
Python slices the elements **before it reaches the stop location.**        
**i.e slicing will terminate with `f-1`th element**  
eg. `s[0:2]` will return `s[1]` & `s[1]` but not `s[2]`

**Lists**
---
Lists are generally made to contain one type of elements; integers/floats/strings   
**But this is not a requirement.**

In [ ]:
numbers = [2,4,66,7,12,205,54,474,12,1,89]

In [ ]:
numbers[0]  #1st element

In [ ]:
numbers[6] #7th element

In [ ]:
numbers[-1] #last element

In [ ]:
x = [4,6,7,17,37,3,583,4,3,63,234]
x.append("hello")
x

**Lists are mutable**

In [ ]:
numbers.append(67)
numbers

The given number is added as the last element!

In [ ]:
numbers.append([65,3,27]) #creates a nested list
numbers

In [ ]:
males = ["John", "James", "William", "Mathews", "Bruce"]
females = ["Jenny", "Anna", "Joanne", "Marie", "Lyna"]

In [ ]:
people = males + females #concatanating lists
people

In [ ]:
type(people)

In [ ]:
list = males + numbers
list

In [ ]:
numbers = [2,4,66,7,12,205,54,474,12,1,89]

`.reverse()` **method**

In [ ]:
numbers.reverse() #this doesn't return anything

This is because list methods are **in place** methods. They **modify** the list but **doesn't return** the modified list!!

In [ ]:
numbers #reversed list

`.sort()` **method**

In [ ]:
numbers.sort() #ascending order

In [ ]:
numbers

In [ ]:
names = ["Amy", "Alice", "Julia", "Venessa", "Joanne", "Cindy", "Michelle", "Janice", "Jennifer"]

In [ ]:
names.sort() #alphabetical sorting

In [ ]:
names

**`.sort()`** vs **`sorted()`**   
`.sort()` takes an existing list and reorders the elements within it.   
`sorted()` constructs a new list by ordering the elements in the input list

In [ ]:
sorted_names = sorted(names)

In [ ]:
sorted_names

In [ ]:
sorted(names) #returns the sorted list unlike .sort() method!!!

`sorted()` does not modify the original list!!

In [ ]:
len(names) #number of elements in the list

In [ ]:
len(numbers)

**Tuples**   
--- 
Tuples are *immutable* sequences

In [ ]:
T = (7,89,12,754,393,5421,45,26)

In [ ]:
B = (54,54,96,35,44,51,518,151,57)

In [ ]:
len(T)

In [ ]:
len(B)

In [ ]:
C = T + B #concatanating tuples
C

In [ ]:
T + (7,1125,65)

In [ ]:
C[0] #1st element

In [ ]:
C[10] #11th element

In [ ]:
C[-1] #last element

In [ ]:
LA = 45.00
LO = 43.97

In [ ]:
coordinate = (LA,LO) #immutable 
coordinate

In [ ]:
type(coordinate)

In [ ]:
position = [LA,LO] #mutable
position

In [ ]:
type(position)

In [ ]:
(1,2,3)[-0] #counting from index 0, this moves 0 steps backwards, still 1

In [ ]:
(1,2,3)[-0:0] #the slice -0:0 contains no indices so an empty tuple is returned

In [ ]:
(5,78,2,6,8,8,32)[5:5]

**Packing and unpacking tuples**

In [ ]:
x = 45
y = 8
z = 3.5

In [ ]:
tup = (x,y,z) #tuple packing
print(tup)

In [ ]:
type(tup)

In [ ]:
(a,b,c) = tup #tuple unpacking
print(a,b,c)

`a = tup[0]`   
`b = tup[1]`   
`c = tup[2]`

_**Using tuples in for loops**_

In [ ]:
x = 0
squares = []
while x < 10:
    i = (x, x**2)
    squares.append(i)
    x = x + 1

print(squares)

In [ ]:
import math
for (x,y) in squares:
    print(x**2, math.sqrt(y))

In [ ]:
import math
for (x,y) in squares:
    print(x**2, "     ",  math.sqrt(y))

The paranthesis in `for (x,y) in squares:` isn't necessary       
i.e `for x,y in squares:` would work just fine but the paranthesis makes the code easier.         
Here the for loop loops over every tuple in the list with **x,y assigned to the elements of each tuple**

In [ ]:
mobiles = ("Nokia", "Samsung", "Apple", "Motorola")

In [ ]:
type(mobiles)

In [ ]:
nums = (2,4,6,8,10)

In [ ]:
type(nums)

In [ ]:
nums = (14.5)

In [ ]:
type(nums)

Object type has changed from tuple to float, eventhough 14.5 was supplied inside brackets

In [ ]:
nums = (14.5,)

In [ ]:
type(nums)

**To create a tuple with just one element a comma should follow the element!!**        
_**The paranthesis can be avoided**_

In [ ]:
nums = 45.6,

In [ ]:
type(nums)

In [ ]:
odds = (1,3,5,7,9,1,5,7,1,3,3,9,9,1,3,11,19,5,7,7,73,1)
odds.count(3) #counts the frequency of 3

In [ ]:
odds.count(7)

In [ ]:
for i in (1,5,9):
    print(odds.count(i))

In [ ]:
odds.sum()

In [ ]:
sum(odds)

In [ ]:
type(2,)

In [ ]:
type((2))

In [ ]:
type((2,))

**Range objects**
---

In [ ]:
range(5) #does not return a sequence! #automatically asumes 0 to be the starting point

In [ ]:
range(3,12)

In [ ]:
list(range(5)) #now we can see the contents

In [ ]:
list(range(3,12))

In [ ]:
list(range(9,18,3)) #here an additional argument step by is given!

In [ ]:
list(range(7,14,1.5)) #step by only accepts integers

**Generally range objects are not typecasted to lists in Python, because Python stores only 3 details for a range object; start, end & step by. For list objects all elements are stored!! This can causeb problems.    
In instances that include huge number of elements i.e a list of 1 million numbers, it is a waste of space. A range object can allow you to loop through without having to specify all the elements!!**

**Strings**
---

Strings are immutable sequences of characters.   
Strings can be defined inside single, double & triple quotes

In [ ]:
str1 = "Python"
len(str1)

In [ ]:
str1[0] #first indice

In [ ]:
str1[5] #last indice

In [ ]:
str1[-1]

In [ ]:
str1[-6]

In [ ]:
str1[0:2] #string slicing

In [ ]:
str1[1:4]

In [ ]:
she = "Elizebeth"

In [ ]:
she[-2] #second index from right

In [ ]:
she[-2:] #last two characters in the string

In [ ]:
she[-6:]

In [ ]:
"z" in she  #checking memberships

In [ ]:
"Z" in she

In [ ]:
she.count("e") #occurrences

**_Polymorphism in Python_**    
**Functions perform different operations depending on the data type of the input**

In [ ]:
12 + 12

In [ ]:
"12" + "12" #literal concatanation

In [ ]:
"Julia" + "Rosenberg"

In [ ]:
"Julia" + " Rosenberg"

In [ ]:
"He brought a brand new Alienware GX34" - "brand" #substactions won't work!!

In [ ]:
23 * 4 #means 23 + 23 + 23 + 23

In [ ]:
"23" * 4 #means "23" + "23" + "23" + "23"

_Cannot concatanate different data types as they are_

In [ ]:
"3 + 4 equals to" + 7

In [ ]:
"3 + 4 equals to" + str(7) #here the integer 7 is typecasted to a string before requesting for concatanation

In [ ]:
"3 + 4 equals to " + str(7)

In [ ]:
dir(str) #all the operations available for string objects

In [ ]:
_007 = "James Bond"

In [ ]:
_007.replace("James", "Jhonathan") #lol

In [ ]:
_007.replace("J", "L")

**Since strings are immutable Python doesn't modify the objects, just returns the output!**

In [ ]:
new_007 = _007.replace("J", "L")

In [ ]:
new_007

In [ ]:
sentence = "It started to rain when they were cooking the barbecue"

In [ ]:
sentence.upper() #converts whole string to upper case

In [ ]:
SENTENCE = sentence.upper()

In [ ]:
SENTENCE.lower()  #converts whole string to lower case

In [ ]:
sentence.split(" ") #splits the string by spaces

In [ ]:
splitted_sentence = sentence.split(" ")

In [ ]:
type(splitted_sentence)

In [ ]:
len(splitted_sentence)

In [ ]:
i = 0
while i < 10:
    print(splitted_sentence[i])
    i = i + 1

In [ ]:
i = 0
while i < 10:
    print(type(splitted_sentence[i]))
    i = i + 1

In [ ]:
splitted_sentence[9].upper()

In [ ]:
(splitted_sentence[9].upper()).lower()

In [ ]:
splitted_SENTENCE = SENTENCE.split(" ")

In [ ]:
splitted_SENTENCE[9]

In [ ]:
splitted_SENTENCE[9].lower()

In [ ]:
"2" * "2" #wont work!!

In [ ]:
str(range(10)) #won't print "0123456789"

In [ ]:
str(list(range(10))) #gets the elements right, but not the expected result

In [ ]:
"".join([str(i) for i in range(10)])

**Break down**

In [ ]:
for i in range(0,10):
    print(str(i))

In [ ]:
"".join(str(i) for i in range(10)) #joins the above outputs without any characters in between

In [ ]:
" ".join(str(i) for i in range(10)) #joins by inserting a space between each character

In [ ]:
"_".join(str(i) for i in range(10)) #joins by inserting an underscore between each character

In [ ]:
import string
string.digits

In [ ]:
words = ["Mary", "used", "to", "be", "a", "massive", "cunt"]

In [ ]:
"".join(words)

In [ ]:
"_".join(words)

In [ ]:
" ".join(words)

In [ ]:
x = "125,000"

In [ ]:
dir(str)

In [ ]:
x.isnumeric()

In [ ]:
y = "0123456789"
y.isnumeric()

In [ ]:
y.isdigit()

In [ ]:
x.isdigit()

**_See the dir(str) and help() for more operations_**

In [ ]:
help(x.isnumeric)

In [ ]:
help(x.isdigit)

# **Sets**
---

**Sets are unordered collection of distinct hashable objects**

Hashable means sets can be used for immutable objects like **numbers, strings** but not for mutable objects like **lists or dictionaries**

There are 2 types of sets:   
**Set   
Frozen set**

**A frozen set is not mutable once it has been created**   
**A normal set is mutable**

### **_Sets cannot be indexed_**
### **_Elements in sets cannot be duplicated_**
_Can only contain unique elements_

In [ ]:
IDs = set()  #creating an empty set

In [ ]:
IDs = set(["A4", "A5", "B2", "B5", "A1", "A2"])

In [ ]:
IDs

In [ ]:
len(IDs)

In [ ]:
IDs.add("A3")

In [ ]:
IDs

In [ ]:
len(IDs)

## _The above set is a normal set, thus mutable!!_

In [ ]:
IDs.add("A1")

In [ ]:
IDs #no duplicates are allowed

**.pop() is used to remove elements from sets**

In [ ]:
IDs.pop()

In [ ]:
IDs.pop()

In [ ]:
IDs #pop() has removed "A5" and "A3"

**.pop() removes an arbitrary element os the set!!**

In [ ]:
Nums = set(range(0,10))

In [ ]:
Nums

Imagine some of these numbers are males and females

In [ ]:
M = set([1,5,7,9])

In [ ]:
F = set([0,2,3,4,6,8])

In [ ]:
Females = Nums - M #mathematical set operations

In [ ]:
Females

In [ ]:
F

In [ ]:
type(Females)

In [ ]:
everyone = M | F #set union

In [ ]:
everyone

In [ ]:
intersect = everyone & F #set intersect - common elements for both sets

In [ ]:
intersect

In [ ]:
word = "antidisestablishmentarianism"

In [ ]:
letters = set(word)

In [ ]:
letters

**Strings are sequences of characters, thus do not have to split them into alphabets (characters) before making a set!!**

In [ ]:
len(letters)

In [ ]:
x={1,2,3}
y={2,3,4}

In [ ]:
x - y #set difference operator

In [ ]:
y - x

In [ ]:
y.difference(x) #equivalent to y - x

In [ ]:
x.difference(y) #equivalent to x - y

In [ ]:
x={1,2,3} 
y={2,3,4}

In [ ]:
x | y #set union

In [ ]:
x & y #set intersect

In [ ]:
x.intersection(y) #equivalent to x & y

In [ ]:
y.intersection(x)

**Set symmetric difference**

In [ ]:
x = set([1,2,3,4,5,6])
y = set([4,5,6,7,8,9])

In [ ]:
x ^ y #symmetric difference

In [ ]:
(x | y) - (x & y) #symmetric difference

In [ ]:
x={1,2,3}
y={2,3,4}

In [ ]:
x ^ y

In [ ]:
x.symmetric_difference(y)

In [ ]:
y.symmetric_difference(x)

add() - Adds an element to the set

clear() - Removes all elements from the set

copy() - Returns a copy of the set

difference() - Returns the difference of two or more sets as a new set

difference_update() - Removes all elements of another set from this set

discard() - Removes an element from the set if it is a member. (Do nothing if the element is not in set)

intersection() - Returns the intersection of two sets as a new set

intersection_update() - Updates the set with the intersection of itself and another

isdisjoint() - Returns True if two sets have a null intersection

issubset() - Returns True if another set contains this set

issuperset() - Returns True if this set contains another set

pop() - Removes and returns an arbitrary set element. Raises KeyError if the set is empty

remove() - Removes an element from the set. If the element is not a member, raises a KeyError 
                    
symmetric_difference() - Returns the symmetric difference of two sets as a new set

symmetric_difference_update() - Updates a set with the symmetric difference of itself and another

union() - Returns the union of sets in a new set

update() - Updates the set with the union of itself and others

In [ ]:
x={1,2,3} 
y={2,3,4}

In [ ]:
x.issubset(y)

In [ ]:
help(x.issubset)

In [ ]:
x in y

In [ ]:
y in x

## **Frozensets**

In [ ]:
x = frozenset(["A","B","V","x","T"])

In [ ]:
x

In [ ]:
type(x)

In [ ]:
x.pop()  #frozenset object has no attribute 'pop'

In [ ]:
x.add("Y")  #frozenset object has no attribute 'add'

## **Dictionaries**

**Dictionaries are mappings from key objects to value objects.   
Dictionaries consist of key:value pairs   
Key object must be immutable   
Values can be anything   
Dictionaries themselves are mutable**

**Dictionaries are not sequences!   
They do not have any type of left/right order   
i.e they have paired keys and their cognate values but these pairs are not arranged in an order   
When looping over a dictionary key:value pairs will be iterated in an arbitrary order**

In [ ]:
age = {} #creates an empty dict
#not a set, sets are defined outside lists e.g s = set([])

In [ ]:
type(age)

In [ ]:
AGE = dict() #creates an empty dict

In [ ]:
type(AGE)

In [ ]:
age

In [ ]:
AGE

In [ ]:
age = {"Tim":23, "Tom":31, "Leslie":19, "John":41, "Kayle":28, "Rozanne":34, "Sarah":47, "Sydney":33}

In [ ]:
type(age)

**Looking up dictionaries**

In [ ]:
age["Tom"]

In [ ]:
age["Leslie"]

In [ ]:
age["Sarah"]

**Modifying values**

In [ ]:
age["John"] = 42

In [ ]:
age

In [ ]:
age["Sarah"] = age["Leslie"] + 29

In [ ]:
age["Sarah"] #19+29

In [ ]:
age["Kayle"] = age["Kayle"] + 12

In [ ]:
age["Kayle"] #28+12

 The **_+=_** operator   
 **Means:    
 Add the value on right to variable on left and reassign the new value to the variable on left**

In [ ]:
x = 10
x += 0.75 # x = x + 0.75

In [ ]:
x

In [ ]:
age["Tom"] += 4

In [ ]:
age["Tom"]

In [ ]:
age["Rozanne"]

In [ ]:
age["Rozanne"] -= 4  #age["Rozanne"] = age["Rozanne"] - 4

In [ ]:
age["Rozanne"]

### **=+ or =- have very different meanings**

In [ ]:
x = 100

In [ ]:
x =- 10  #just means x = -10, just assigns a new value to the variable

In [ ]:
x

In [ ]:
y = 159

In [ ]:
y =+ 1

In [ ]:
y

In [ ]:
age.keys()

In [ ]:
names = age.keys()

In [ ]:
type(names)

.keys() and .values() functions return a special type of object; **view object**

In [ ]:
age.values()

In [ ]:
ages = age.values()

In [ ]:
ages

In [ ]:
type(ages)

**_As the dictionary is modified, the view object will also change accordingly_**

**Testing memberships in dicts**

In [ ]:
"Tom" in age

In [ ]:
"Sophie" in age

### **Dictionary elements maintain an order; the order they were added to the dictionary**

**Types of data**   
Types inform the computer momory to read the binaries in chunks of eg. 32 bits    
and what that binary chunk represents eg. an integer/string/floating point/piece of mucic    

**If the program expects a floating point and you provide an integer there won't be issues since integers are a subset of floats!!!**    
But when a program expects an integer, and a float is provided some information might be lost...

Some languages are statically typed eg. C, C++    
Here type checking is done during compile time     
In dynamically typed languages like R and Python type checking is done at runtime

When we say `x = 3` in Python how does Python knows its an integer    
There are 3 important concepts:             
                 1.Variable       
        2.Object        
        3.Reference

`x = 3`     
**First Python creates an object; the number 3   
Secondly, Python creates variable name; x   
Lastly the variable name will be referenced to the object! x --> 3**

Variable names always link to objects, never to other variables!!   
A variable is thus, a reference to the given object!

In [ ]:
x = 3
y = x
y = y - 1

`x = 3`   
First, object 3 is created     
Then the variable name x is created   
Then the variable name x is referenced to the object 3      
       
`y = x`     
Here the object x already exists   
Then a variable name y is created   
Then the variable name **_y is referenced to the object variable name x is currently referencing!!_**    
**A variable name cannot reference another variable, but only an object!!**   
              
`y = y - 1`    
Python firstly looks at y; referenced to number 3     
Since numbers (integers) are immutable, a new object has to be created **i.e. the number 2**   
**It cannot simply substract 1 from 3**
But the variable name y already exists in the computer's memory    
**So, Python removes the y --> 3 reference, and creates a new reference; y --> 2**   

**Once all these 3 lines of code are run;    
`x = 3`    
`y = 2`**

In [ ]:
print(x,y)

### **Dynamic typing of mutable objects**    
----

In [ ]:
l1 = [2,3,4,5]
l2 = l1
l1[0] = 24

`li = [2,3,4,5]`   
First the object is created   **[2,3,4,5]**   
Then the variable name l1 is created    
Then l1 is referenced to the list [2,3,4,5]    
          
`l2 = l1`    
The object l1 already exists and references the list   
Thus, as second step a new variable name l2 is created    
And l2 is referenced to the object l1 is currently referencing to!    
**At this stage `l1 = [2,3,4,5]`, `l2 = [2,3,4,5]`**      

`l1[0] = 24`    
Means l1 at index 0 equals 24!   
Here the first element of the list i.e 2 is changed as 24!!   
### **However both l1 and l2 were pointing to the same list i.e reference the very same list object [2,3,4,5], now that that the reference object has been modified both l1 and l2 become modified!!**

In [ ]:
print(l1, l2)

### **Each object in Python has a type, value and an identity**    
**Mutable objects can have identical contents, and yet be different objects**

In [ ]:
l = [1,2,3]
m = [1,2,3]

In [ ]:
l == m  #identical elements in identical sequences

#### **When comparing lists comparison is carried out element wise! nth element in l is compared with the nth element in m, so on and so forth!**    
Here the contents of these two lists are identical and in identical sequence,  
therefore, `l == m` returns `True`

In [ ]:
l is m

#### **Here `l is m`  means is l is the same as m? meaning, do the variable names l and m reference the same object?**   
**NO**

`id()` returns the identity of an object  
**i.e its location in the physical memory**

In [ ]:
id(l)

In [ ]:
id(m)

### **Different locations!**

In [ ]:
id(l) == id(m)

In [ ]:
a = [2,4, (3, "HI"), ("Jose", "Leslie", "Julia"), 89]
b = a

In [ ]:
a == b  #identical elements in identical sequences

In [ ]:
a is b  #both variable names a & b reference the same list object

In [ ]:
print(id(a), id(b))

In [ ]:
id(a) == id(b)

In [ ]:
c = [2,4, (3, "HI"), ("Jose", "Leslie", "Julia"), 89]

In [ ]:
a == b == c #identical

In [ ]:
a is c

In [ ]:
print(id(a), id(b), id(c))

In [ ]:
id(c) == id(a)  #variable names a and c are referenced to identical objects in different momory locations
#meaning referenced to different objects

### **Creating copies of mutable objects**

In [ ]:
original_list = ["John", "Jimmy", "Natalie", "Emma"]

`original_list = copy_list`  wouldn't work since the variable copy_list will just reference the existing list object!!

In [ ]:
copy_list = list(original_list)

#### **Here the list object original_list already exists in computer memory, but `list(original_list)` will create a completely new object with identical elements in identical sequence!!**   
**Then the new variable name `copy_list` is created and referenced to the newly copied list object!**

In [ ]:
id(original_list)

In [ ]:
id(copy_list)

In [ ]:
original_list == copy_list

In [ ]:
original_list is copy_list

#### **Another way to create a copy of object is by using slicing syntax**

In [ ]:
sliced_list = original_list[:]

In [ ]:
sliced_list

In [ ]:
sliced_list == original_list

In [ ]:
sliced_list is original_list

In [ ]:
print(id(sliced_list), id(original_list))

## **Copy**
----

Copy module in Python allows for creating copies of objects!   
Two types of copies are available;     
**A shallow copy - constructs a new compound object and then inserts refernce into it to the original object**    
**A deep copy - constructs a new compound object and inserts copies of original object into it**

**E.g. A compound object `X` has two elements `a` and `b`. a and b are referenced to two different objects in RAM.**    
**A shallow copy creates a copy of X, say X' and references the elements of X to the corresponding indices of X'.**  
     
**A deep copy creates a copy of X, say X" and inserts copies of the elements of X into corresponding indices of X", thus X" has its own elements separately allocated in physical memory.**

In [ ]:
import copy

In [ ]:
list_x = [1, [2]]

In [ ]:
list_y = copy.copy(list_x)  #in copy.copy() copy. is the module name and .copy() is the function like plt.plot()

In [ ]:
list_y

In [ ]:
list_x == list_y

In [ ]:
list_x is list_y

In [ ]:
list_z = copy.deepcopy(list_x)

In [ ]:
list_z

In [ ]:
list_z == list_x

In [ ]:
list_x is list_z

In [ ]:
list_y is list_z

In [ ]:
list_a = ["Jose", "jailyene", "Martinez", "Sam", "Smithson"]

In [ ]:
list_A = copy.copy(list_a)

In [ ]:
list_A

In [ ]:
list_a[3] = "Andrew"

In [ ]:
list_a

In [ ]:
list_A

In [ ]:
list_b = copy.deepcopy(list_a)

In [ ]:
list_b

In [ ]:
list_a[0] = "Jasmine"

In [ ]:
list_a

In [ ]:
list_b

## **Statements**
-----

**`Return` statement returns values from a function   
`import` statement imports modules    
`Pass` statement does nothing and used when a placeholder is needed for syntactical reasens**

### **Compound statements**   
**Contain groups of other statements   
Affect/control the execution of other statements in one/more ways   
Typically span multiple lines   
Consists of onr/more clauses   
A clause consists of a `header` and a `block` or a `suite of code`**   
      
**Clause headers of compound statements start with a `keyword`, end with a `colon` and are all at the same indentation level.   
A block/suite of code of each clause must be indented to indicate it forms a group of statements that logically fall under the above header!**

In [ ]:
if x > y: #header line
    difference = x - y  #line 2 and 3 form the block of code, indented inside the header!!
    print("x is greater than y")
print("But this gets printed no matter what")

## **In Python indentation isn't just for ornamentation it determines the logical structure of the code**

`if test:`        
&nbsp; &nbsp; &nbsp;  `[block of code]`   
`elif test:`          
&nbsp; &nbsp; &nbsp;  `[block of code]`            
`else:`         
&nbsp; &nbsp; &nbsp;  `[block of code]`

In [ ]:
x = 100
y = -45

In [ ]:
#absolute values tell us how far are two numbers from one another

if x > y:                 #if x is grater than y
    absolute_val = x - y  #then assign absolute_val = x - y
elif y > x:               #if x is not greater than y and if x is smaller than y 
    absolute_val = y - x  #then assign absolute_val = y - x
else:                     #if x is neither greater than nor less than y
    absolute_val = 0      #then assign absolute_val = 0

If `x` is indeed greater than `y` the other conditions `elif`, `else` won't even be evaluated.    
Only when the upper statement fails Python will consider the next statement.   
i.e for `elif` to be considered, `if` statement must fail; that is `x` must not be greater than `y`

## **Markdown spaces**
---
1.no space    
2.`&nbsp;`&nbsp;Space equivalent of the character "i"   
3.`&ensp;`&ensp;Space equivalent of the character "n"   
4.`&emsp;`&emsp;Space equivalent of the character "m"   
5.`$~$`$~$for space equivalent of character "i", the more `~` inserted inbetween `$`s the more space you get  
6.`$~~~~~~~~~~$`$~~~~~~~~~~$10 `~` between the `$` signs

In [ ]:
if False:
    print("False!")
elif True:
    print("Now True!")
else:
    print("Finally True!")

The first statement is `false`, so the condition is ignored. The code moves on to the `elif` statement, which if `True`, will perform the indented code and skip all other `elif` and `else` statements. If not, the code will move on to `else`, and perform that code

In [ ]:
if True:
    print("False!")

**`if` statement only proceeds when the condition is true!!**

In [ ]:
if False:
    print("False!")
elif False:
    print("Now True!")
else:
    print("Finally True!")

In [ ]:
# % operator returns the remainder after integer division
# 5 % 3 = 2
# 9 % 5 = 4

n = 87

if n % 2 == 0:
    print("Even")
else:
    print("Odd")

In [ ]:
n = 88

if n % 2 == 0:
    print("Even")
else:
    print("Odd")

## **For and While loops**

### For loop - a sequence iteration     
Unless the loop is terminated with a break statement early; for loop will run until no elements left in the sequence!

In [19]:
sequence = ("A", "B", "C", "F", "G", "L", "M", "U")

**First for loop will target the first element in the iterable (index = 0), and in the next iteration it will point to the next element of the iterable (index = 2), so on and so forth.**

In [20]:
for element in sequence:
    print(element)

A
B
C
F
G
L
M
U

In [21]:
ten_numbers = range(10)

In [22]:
for x in ten_numbers:
    print(x)

0
1
2
3
4
5
6
7
8
9

In [25]:
sequence

('A', 'B', 'C', 'F', 'G', 'L', 'M', 'U')

In [26]:
seq = list(sequence)

In [27]:
seq

['A', 'B', 'C', 'F', 'G', 'L', 'M', 'U']

In [29]:
for alphabets in seq:
    print(alphabets)

A
B
C
F
G
L
M
U

In [30]:
len(sequence)

8

In [34]:
#using indices to print elements of iterables

for i in range(8):
    print(sequence[i])

A
B
C
F
G
L
M
U

In [36]:
#or

for i in range(len(sequence)):
    print(sequence[i])

A
B
C
F
G
L
M
U

In [39]:
age = dict()

In [40]:
age

{}

In [45]:
age["Tim"] = 23
age["Tom"] = 45
age["Leslie"] = 26
age["Sarah"] = 19
age["Smith"] = 21
age["Aaron"] =  25

In [46]:
age

{'Tim': 23, 'Tom': 45, 'Leslie': 26, 'Sarah': 19, 'Smith': 21, 'Aaron': 25}

In [47]:
age.keys()

dict_keys(['Tim', 'Tom', 'Leslie', 'Sarah', 'Smith', 'Aaron'])

In [49]:
age.values()

dict_values([23, 45, 26, 19, 21, 25])

In [54]:
for name in age.keys():
    print(name, "is" ,age[name], "years old")

Tim is 23 years old
Tom is 45 years old
Leslie is 26 years old
Sarah is 19 years old
Smith is 21 years old
Aaron is 25 years old

## **_Looping over dictionaries are very common; therefore there is a simple way to do this!!_**

In [57]:
for name in  age: # it naturally takes keys as the iterable
    print(name, age[name])

Tim 23
Tom 45
Leslie 26
Sarah 19
Smith 21
Aaron 25

### **In Python dicts key:value pairs have a couplation but these pairs are not arranged in any specific order!**     
***If needed to loop over dictionary objects in a specific order:***

In [62]:
for name in sorted(age.keys()):  # names are sorted in alphabetical order
    print(name, age[name])

Aaron 25
Leslie 26
Sarah 19
Smith 21
Tim 23
Tom 45

In [63]:
for name in sorted(age.keys(), reverse = True):  # names are sorted in reverse alphabetical order
    print(name, age[name])

Tom 45
Tim 23
Smith 21
Sarah 19
Leslie 26
Aaron 25

## **Python While loops are used to iterate over an iterable as long as the given argument is true!!**

In [64]:
bears = {"Grizzly":"angry", "Brown":"friendly", "Polar":"friendly"}

`for bear in bears:`               
&emsp;      `if #blank#:`            
&emsp;     `print("Hello, "+bear+" bear!")`               
`else:`                    
`print("odd")`                   
               
**Can you replace #blank# so the code will print a greeting only to friendly bears? Your code should work even if more bears are added to the dictionary.**

In [72]:
for bear in bears:
    if bears[bear] == "friendly":
        print("Hello,", bear, "bear!")

Hello, Brown bear!
Hello, Polar bear!

In [77]:
is_prime = True
for i in range(2,n):
    if n % i == 0:
        is_prime(False)
print(is_prime)

True

`is_prime = False` will ensure that if `n` is divisible by any of the previous values, `is_prime` will return `False`.            

A more compact way to accomplish the same task is `not any([n%i==0 for i in range(2,n)])`

In [75]:
n=100
number_of_times = 0
while n >= 1:
    n //= 2   # integer division of n by 2 and assigns the result to n
    number_of_times += 1
print(number_of_times)

7

### **List comprehensions**

**Applying some operations to all the elements of the list and reassigning the new list to a new variable name!**

In [79]:
nums = range(0,11)

In [81]:
list(nums) # just to see the contents

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [82]:
squares = []

In [83]:
for n in nums:
    squares.append(n**2)

In [84]:
squares  # voila

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [87]:
# or more easily
import numpy as np

num = np.array(nums)
square = num**2

In [88]:
square

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100], dtype=int32)

In [89]:
list(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### **Doing the above using list comprehension**

In [91]:
sqr_list = [n**2 for n in nums]

**_This is list comprehension_**    
`n**2` operation is performed for all the elements of the list nums and the results are included in **sqr_list**

In [92]:
sqr_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### **_In comparison to looping over lists; list comprehensions are very fast and elegant!  A lot can be accomplished in a single line!_**

In [93]:
sum([i**2 for i in range(3)])

5

`range(3)` = 0,1,2     
`i**2` = 0,1,4       
`sum` = 0 + 1 + 4

How can you use a list comprehension, including if and for, to sum the odd numbers from 0 through 9?

In [116]:
sum([i for i in range(0,10) if i % 2 != 0])

25

In [117]:
[i for i in range(0,10) if i % 2 != 0]

[1, 3, 5, 7, 9]

In [118]:
sum([i for i in range(10) if i%2 == 1])

25

## **_Reading & writing files in Python_**

In [125]:
filename = "C:\\Users\\Anoba\\Documents\\Python\\Using_Python_for_Research\\Wiliam_Wordsworth.txt"

In [129]:
for line in open(filename, "r"):
    print(line)

I wandered lonely as a cloud

That floats on high o'er vales and hills,

When all at once I saw a crowd,

A host, of golden daffodils;

Beside the lake, beneath the trees,

Fluttering and dancing in the breeze.



Continuous as the stars that shine

And twinkle on the milky way,

They stretched in never-ending line

Along the margin of a bay:

Ten thousand saw I at a glance,

Tossing their heads in sprightly dance.



The waves beside them danced; but they

Out-did the sparkling waves in glee:

A poet could not but be gay,

In such a jocund company:

I gazedand gazedbut little thought

What wealth the show to me had brought:



 For oft, when on my couch I lie

In vacant or in pensive mood,

They flash upon that inward eye

Which is the bliss of solitude;

And then my heart with pleasure fills,

And dances with the daffodils.

### **Although not shown explicitly, at the end of each line there is a line break character "\n"**       
**the rstrip() function in Python removes all the line breal characters!!**

In [145]:
for line in open("C:\\Users\\Anoba\\Documents\\Python\\Using_Python_for_Research\\Wiliam_Wordsworth.txt", "r"):
    print(line.rstrip())

I wandered lonely as a cloud
That floats on high o'er vales and hills,
When all at once I saw a crowd,
A host, of golden daffodils;
Beside the lake, beneath the trees,
Fluttering and dancing in the breeze.

Continuous as the stars that shine
And twinkle on the milky way,
They stretched in never-ending line
Along the margin of a bay:
Ten thousand saw I at a glance,
Tossing their heads in sprightly dance.

The waves beside them danced; but they
Out-did the sparkling waves in glee:
A poet could not but be gay,
In such a jocund company:
I gazedand gazedbut little thought
What wealth the show to me had brought:

 For oft, when on my couch I lie
In vacant or in pensive mood,
They flash upon that inward eye
Which is the bliss of solitude;
And then my heart with pleasure fills,
And dances with the daffodils.

**Note the differences between `print(line)` and `print(line.rstrip())`!!**

String split method returns a list, not a string!!

In [149]:
for line in open("C:\\Users\\Anoba\\Documents\\Python\\Using_Python_for_Research\\Wiliam_Wordsworth.txt", "r"):
    words = line.rstrip().split(" ")
    print(words)

['I', 'wandered', 'lonely', 'as', 'a', 'cloud']
['That', 'floats', 'on', 'high', "o'er", 'vales', 'and', 'hills,']
['When', 'all', 'at', 'once', 'I', 'saw', 'a', 'crowd,']
['A', 'host,', 'of', 'golden', 'daffodils;']
['Beside', 'the', 'lake,', 'beneath', 'the', 'trees,']
['Fluttering', 'and', 'dancing', 'in', 'the', 'breeze.']
['']
['Continuous', 'as', 'the', 'stars', 'that', 'shine']
['And', 'twinkle', 'on', 'the', 'milky', 'way,']
['They', 'stretched', 'in', 'never-ending', 'line']
['Along', 'the', 'margin', 'of', 'a', 'bay:']
['Ten', 'thousand', 'saw', 'I', 'at', 'a', 'glance,']
['Tossing', 'their', 'heads', 'in', 'sprightly', 'dance.']
['']
['The', 'waves', 'beside', 'them', 'danced;', 'but', 'they']
['Out-did', 'the', 'sparkling', 'waves', 'in', 'glee:']
['A', 'poet', 'could', 'not', 'but', 'be', 'gay,']
['In', 'such', 'a', 'jocund', 'company:']
['I', 'gazedand', 'gazedbut', 'little', 'thought']
['What', 'wealth', 'the', 'show', 'to', 'me', 'had', 'brought:']
['']
['', 'For', 'oft,', 'when', 'on', 'my', 'couch', 'I', 'lie']
['In', 'vacant', 'or', 'in', 'pensive', 'mood,']
['They', 'flash', 'upon', 'that', 'inward', 'eye']
['Which', 'is', 'the', 'bliss', 'of', 'solitude;']
['And', 'then', 'my', 'heart', 'with', 'pleasure', 'fills,']
['And', 'dances', 'with', 'the', 'daffodils.']

**_Writing files_**

In [210]:
Written_file = open("C:\\Users\\Anoba\\Documents\\Python\\Using_Python_for_Research\\word_list.txt", "w")
# this captures the word_list.txt file object into the variable "Write"
# at this point a file object has been opened and ready to be written!

In [211]:
Written_file.write("Wordsworth is a bitch\n") # this writes the supplied string to the file

22

In [212]:
Written_file.close() # once done writing the opened file must be closed

In [221]:
F = open("input.txt", "w")
F.write("Hello\nWorld")
F.close()

lines = []

for line in open("input.txt"):  # going to read in Hello & World in separate lines due to \n!!!
    lines.append(line.strip())
print(lines)

['Hello', 'World']

In [223]:
"once done writing, the opened\n file must be closed\n".strip() # only removes "\n" at the end of string

'once done writing, the opened\n file must be closed'

In [225]:
for word in ["once", "done\n", "writing,\n", "the", "opened\n", "file", "must\n", "be" ,"closed\n"]:
    print(word.strip())

once
done
writing,
the
opened
file
must
be
closed

### **_Functions_**

**Functions maximize code reuse and minimize code redundancy.    
Functions enable dividing larger tasks into smaller chunks; an approach called procedural decomposition.    
Functions are defined using the `def` function    
And the results are returned to the caller using the `return` function**

In [7]:
def add(a,b):  # a simple function to do simple addition
    return (a+b) # return is not an operation!! i.e unlike count(); thus the paranthesis can be given with a space

In [8]:
add(74,5)

79

In [10]:
add("A","B")

'AB'

**All the variables defined inside functions are local variables; valid only within that function     
To modify the value of a global variable from inside a function the `global` statement can be used!**

In [17]:
def circle(r):  # a function called circle to compute area and perimeter
    import math
    area = math.pi*(r**2)
    perimeter = 2*math.pi*r
    return area, perimeter

In [19]:
circle(14)

(615.7521601035994, 87.96459430051421)

**_To get the results in a tuple_**

In [22]:
def circ_area(r):
    import math
    area = math.pi*(r**2)
    return (r, area)

In [23]:
circ_area(7)

(7, 153.93804002589985)

In [25]:
type(circ_area(7)) # voila

tuple

### **`def` creates a function object and assigns it to a name, and this function can later be modified**

In [27]:
def diff(x,y):
    if x > y:
        val = x - y
    else:
        val = y -x
    return val

In [28]:
diff(45,78)

33

In [29]:
diff(1,-78)

79

In [32]:
# redefining

def diff(n,m):
    import math
    value = math.sqrt((n-m)**2)
    return value

In [34]:
diff(90,94)

4.0

In [36]:
diff(-78,4)

82.0

**Here a new function object is created by the `def` function and assigned to the variable name `diff`**

In [38]:
difference = diff

**Similar to other objects functions can also be copied to new variable names!**   
**Here the variable names `diff` and `difference` point to the same object!!**

In [68]:
l = [1,544,1,45,574,41,8,4,867,49,4]

In [72]:
def modify(lis):
    for i in lis:
        i += 2

In [73]:
modify(l)

In [74]:
l

[1, 544, 1, 45, 574, 41, 8, 4, 867, 49, 4]

In [88]:
L = [5,9,6,7,3,21,2,6,8]

In [89]:
def alter(L):
    L[0] *= 5 # altering the first index

In [90]:
alter(L)

In [91]:
L

[25, 9, 6, 7, 3, 21, 2, 6, 8]

In [92]:
alter(L)

In [94]:
L

[125, 9, 6, 7, 3, 21, 2, 6, 8]

In [97]:
def modify(mylist):
    mylist[0] *= 10
    return(mylist)

L = [1, 3, 5, 7, 9]
M = modify(L) # because L is mutable, this line modifies the original list and assigns the result to the new variable name
M is L # so this is true

True

In [98]:
L = [1, 3, 5, 7, 9]

def modify(mylist):
    mylist[0] *= 10
    return(mylist)


modify(L)

[10, 3, 5, 7, 9]

In [101]:
L # l Itself has been modified

[10, 3, 5, 7, 9]

## **Writing simple functions**
---------

In [116]:
def intersect(seq1,seq2): # to find the set intersect of the two input iterables
    results = []
    for i in seq1:
        if i in seq2:
            results.append(i)
        else:
            pass
        return results # note the indentation here

In [117]:
sequence_1 = [4,8,3,1,6,5,7,9,20,10]
sequence_2 = [4,78,1,3,6,56,9,98,84,2]

intersect(sequence_1,sequence_2) # loop stops when it finds the first shared element

[4]

In [124]:
def intersect(seq1,seq2): # to find the set intersect of the two input iterables
    results = []
    for i in seq1:
        if i in seq2:
            results.append(i) # capturing the intersects
        else:
            pass
    return results # note the indentation here

In [125]:
sequence_1 = [4,8,3,1,6,5,7,9,20,10]
sequence_2 = [4,78,1,3,6,56,9,98,84,2]

intersect(sequence_1,sequence_2) # here loop runs over all the elements of the iterable

[4, 3, 1, 6, 9]

In [142]:
def intersect(seq1,seq2): # to find the set intersect of the two input iterables
    results = []
    for i in seq1:
        if i in seq2:
            results.append(i) # capturing the intersects
        else:
            pass
    return sorted(results, reverse = True) # note the additional sorting argument  here

In [143]:
sequence_1 = [4,8,3,1,6,5,7,9,20,10]
sequence_2 = [4,78,1,3,6,56,9,98,84,2]

intersect(sequence_1,sequence_2) # here loop runs over all the elements of the iterable

[9, 6, 4, 3, 1]

In [157]:
def password(length): # generating a password of the given length
    import random
    pw = "" # can also be done by str()
    letters = "aAbBcCdDeEfFgGhHiIjJkKlLmM"
    symbols = "~!#$%^&*()_+}{:][\/.,"
    numbers = "0123456789" # no need to create a list with all numbers since passwors is going to be a string
    for x in range(length):
        pw += random.choice(letters) + random.choice(symbols) + random.choice(numbers)
    return pw # since we are looping over three iterables pw is going to contain 15 elements

In [159]:
password(5)

'B{0I\\6L+2i~2j(8'

In [161]:
len(password(5))

15

In [163]:
def password(length):
    import random
    pw = str()
    letters = "aAbBcCdDeEfFgGhHiIjJkKlLmMnNoOpPqQrRsStTuUvVwWxXyYzZ"
    for x in range(length):
        pw += random.choice(letters)
    return pw

In [164]:
password(9)

'pMdffVKXA'

In [166]:
def password(length):
    import random
    import string
    pw = str()
    letters = string.ascii_letters # whole english alphabets: without typing in each individually
    for x in range(length):
        pw += random.choice(letters)
    return pw

In [167]:
password(12)

'IyQitpnmneHJ'

In [169]:
def password(length): # generating a password of the given length
    import random
    pw = "" # can also be done by str()
    chars = "aAbBcCdDeEfFgGhHiIjJkKlLmMnNoOpPqQrRsStTuUvVwWxXyYzZ~!#$%^&*()_+}{:][\/.,0123456789" 
    for x in range(length):
        pw += random.choice(chars)
    return pw

In [175]:
password(14) # voila

'b,\\FGM_Bc2vA!!'

In [176]:
password(14)

'%9mD5Z]xK}]Fl\\'

In [177]:
password(14)

'i!9TS_XTxAsgHa'

In [178]:
password(14)

'8Dx::_up49XiPy'

In [180]:
def is_vowel(letter):
    if letter in "aeiouy":
        return(True)
    else:
        return(False)

In [181]:
is_vowel(9)

TypeError: 'in <string>' requires string as left operand, not int

In [182]:
is_vowel(str(9))

False

In [186]:
def is_vowel(letter):
    if type(letter) == int:
        letter = str(letter)
    if letter in "aeiouy":
        return(True)
    else:
        return(False)

In [187]:
is_vowel(89)

False

In [197]:
def factorial(n):
    if n == 0:
        return 1
    else:
        N = 1
        for i in range(1, n+1):
            N *= i
        return(N)

In [198]:
factorial(4)

24

## **Common mistakes and errors**
--------

In [40]:
l = [1,2,3,4,5,6,7,8,9,0]

In [5]:
l[8]

9

In [6]:
l[14]

IndexError: list index out of range

**`IndexError: list index out of range`** means that the index specified in the call is outside the available indices!     
**Know the length of sequences/iterables before specifying indices!!**

In [9]:
len(l) # 10 < 14

10

### **_Dictionaries have no left to right ordering, there are coupled key:value pairs but these pairs are arranged in no order inside thedictionaries!!_**

### **_Calling operations that are not supported by the object!_**

In [11]:
l.add(89)

AttributeError: 'list' object has no attribute 'add'

**`AttributeError: 'list' object has no attribute 'add'`**   
Means that `list` objects do not support `add()` function!    
`add()` is applicable only for sets!!     
For lists `append()` should be used instead!

In [27]:
x = set((3, 4, 7, 9, 23, 35, 54, 56, 75, 465))

In [28]:
x

{3, 4, 7, 9, 23, 35, 54, 56, 75, 465}

In [29]:
type(x)

set

In [30]:
x.add(78)

In [31]:
x

{3, 4, 7, 9, 23, 35, 54, 56, 75, 78, 465}

In [41]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [42]:
l.append(899)

In [43]:
l # voila

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 899]

### **Accessing objects in a wrong way**

In [47]:
couples = {"Sam":"Leslie", "Timothy":"Sarah", "Nathan":"Cassandra", "Carlos":"Jaylene", "Bill":"Melinda", "simon":"Alissa"}

In [49]:
couples.keys()

dict_keys(['Sam', 'Timothy', 'Nathan', 'Carlos', 'Bill', 'simon'])

In [51]:
couples.values()

dict_values(['Leslie', 'Sarah', 'Cassandra', 'Jaylene', 'Melinda', 'Alissa'])

In [52]:
couples[Sam]

NameError: name 'Sam' is not defined

`NameError: name 'Sam' is not defined` **Know the type of key objects when doing dictionary lookups!! Here the keys are strings, not variables!**

In [54]:
couples["Nathan"]

'Cassandra'

In [59]:
for males in couples.keys(): # voila
    print(couples[males])

Leslie
Sarah
Cassandra
Jaylene
Melinda
Alissa

### **_Improper indentation_**

In [104]:
def factorial(input):
    fact = 1
    if input == 0:
       return 1
    else:
       for i in range(1,(input+1)):
           fact = fact*i
           return(fact)

In [105]:
factorial(0)  # if statement is working

1

In [106]:
factorial(4) # oops! wrong indentation of return statement
# returns fact with first iteration, loop doesn't proceed till end

1

In [107]:
def factorial(input):
    fact = 1
    if input == 0:
       return 1
    else:
       for i in range(1,(input+1)):
           fact = fact*i
       return(fact)

In [108]:
factorial(4) # 4*3*2*1 voila

24

In [110]:
factorial(9) # perfect

362880