In [2]:
import math

In [3]:
print(math.cos(math.pi))

-1.0

What type of object is math.pi?

In [5]:
type(math.pi)

float

What type of object is math.cos?

In [6]:
type(math.cos)

builtin_function_or_method

In [7]:
nums = set([1,1,2,2,3,3,3,4])
print(len(nums))

4

A set can only contain unique elements, thus when typecasting a list to a set replicates are ignored!

In [9]:
a = [1,2,3]
a[1] = 4
a

[1, 4, 3]

a is a list. List is a mutable Python object. Thus a[1] = 4 assigns the value 4 for the second element in the list a. Note indexing in Python starts at 0.

In [10]:
a = (2,3,6)
a[1] = 9

TypeError: 'tuple' object does not support item assignment

TypeError
Because here a is declared as a tuple. Tuples are immutable.

In [12]:
a = [1,2,3]
b = a

In [13]:
a == b

True

For mutables = makesthe right object refer to the left object.

In [14]:
a is b

True

In [15]:
b = a[:]

In [16]:
a == b

True

In [17]:
a is b

False

Python's shortcut with indexing ":" makes a copy of the mutable with its elements.
Thus when declaring b = a[:] a new object b is made.
b is identical to a but they are two different objects

In [22]:
x = "Hello world!"
y = x[5:]
print(y)

_world!

Indexing [5:] returns all the characters from the position 5 and after.
Note that the space before "w" is included in y.(index = 5)

In [23]:
x = "Hello_world!"
y = x[5:]
print(y)

_world!

Note the underscore!

In [25]:
y = [x**2 for x in range (5)]
y

[0, 1, 4, 9, 16]

** in Python is square (equivalent to R's ^). Squaring is done for all the elements of iterable

In [29]:
list(range(5))

[0, 1, 2, 3, 4]

range(n) creates an integer series staring from default lower limit 0 to upper limit n-1
range(7,65) would create an integer series starting from 7 to 64!

In [30]:
list(range(7,65))

[7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64]

In [31]:
x = 1
def my_function():
    x = 2
    print(x)

print(x)
my_function()
print(x)

1
2
1

x is declared equivalent to 1 as a global variable.
x is declared equivalent to 2 as a local variable; local variables only exist inside the scope of their function!
print(x) would return the global variable x, which is 1
my_function() will print the locally declared x variable, which is 2

When a process needs to be reiterated until a criterion is met; there is a clear definition or goal but the number of steps aren't explicitly stated, it depends on the process!
For this kind of situations _**While**_ loop is best.

When a process needs to be reiterated a defined number of times and the results need to be summarized, number of steps or repetitions are explicitly stated but the final goal or the outcome isn't specified, it depends on the process!.
For this kind of situations _**For**_ loop is best.

In [2]:
x = 1

while x < 5:
    print(x*2)
    x = x+1

2
4
6
8

The last output wil be 8.

In [4]:
for integer in (-1,3,5):
    if integer < 0:
        print("Negative")
    else:
        print("Positive")

Negative
Positive
Positive

Output will consist of 3 lines.

In Python a dictionary object has keys and their cognate values.
Keys are immutable.
Keys and values can be of any data type.
Key can only be a single element! Not a tuple,list,set like objects(iterables)!
Values can be a single element or iterables!

In [ ]:
x = "String"
y = 10
z = 5.0

print(x+x)
print(y+y)
print(x+y)
print(y+z)

StringString
20

TypeError: can only concatenate str (not "int") to str

print(x+y) will give a _**TypeError**_ since the operation addition cannot be performed with a string and an integer!